/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Estilos para el contenido principal */
main {
    background-color: #f3f3f3;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 800px;
    text-align: center;
}

.content {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h3 {
    color: #333;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 5px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}